       
    html {
        min-height: 100%;
        background: linear-gradient(to bottom right, #ffffff, #0056b3);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; 
        margin: 0;
        padding: 0;
    }

    h2 {
        color: #255a92;
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

    .create-new, .edit-link {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

    .create-new:hover, .edit-link:hover {
        background-color: #0056b3;
    }

    .ballot-list {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .ballot-list li {
        background-color: #fff;
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        width: 80%;
        max-width: 1200px; 
        margin-bottom: 10px;
    }

    .ballot-img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 50%;
    }

    .ballot-title {
        font-size: 1.25rem;
        color: #255a92;
        transition: text-shadow 0.3s;
        flex-grow: 1;
    }

    .ballot-title:hover {
        text-shadow: 0 0 8px rgba(0, 255, 255, 0.7);
    }

    main {
        overflow-y: auto;
        max-height: calc(100vh - 40px); 
        padding-bottom: 20px; 
    }