body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #0056b3);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.bar {
    position: absolute;
    bottom: 0;
    width: 20px;
    background: rgba(0, 38, 255, 0.5); 
    transition: height 0.08s, background-color 0.1s;
}

.welcome-title {
    text-align: center;
    font-size: 2.25rem;
    color: #313cce;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    opacity: 0;
    animation: slideUpAndFadeIn 0.2s ease-out forwards;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    margin-top: -80px;
}

.button-container {
    display: flex;
    flex-direction: grid;
    align-items: center;
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.button-container button:hover {
    background-color: #0056b3; 
}

.logo-and-welcome {
    margin-top: -100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
}

#logo {
    margin-top: -40px;
    max-width: 240px;
    height: auto;
}

.animation-container {
    position: relative;
    font-size: 48px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ballot-box {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.welcome-title {
    opacity: 0;
    animation: slideUpAndFadeIn 2s 1s ease-out forwards;
}

@keyframes slideUpAndFadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}