body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #0056b3);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.bar {
    position: absolute;
    bottom: 0;
    width: 20px;
    background: rgba(0, 38, 255, 0.5); 
    transition: height 0.08s, background-color 0.1s;
}

.welcome-title {
    text-align: center;
    font-size: 2.25rem; 
    color: #255a92;
    margin-bottom: 1.25rem; 
}

.button-container {
    display: flex;
    flex-direction: grid;
    align-items: center;
    margin-top: 20px;
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}