<!-- templates/ballot_edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Ballot</title>
</head>
<body>
    {% include 'menu_bar.html' %}

<h1>{{ title }}</h1>
<form action="{{ url_for('submit_ballot_edit', ballot_id=ballot_id) }}" method="POST">
    <ul>
        {% for option in options %}
        <li>
            <input type="text" name="option_{{ option.id }}" value="{{ option.option_text }}">
        </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Update Options">
</form>
</body>
</html>
