<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to OnVote</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
<body>
    {% include 'menu_bar.html' %}

    <div id="background"></div>
    <div class="logo-and-welcome">
        <img src="/static/images/Logo.webp" alt="OnVote Logo" id="logo">
        <div class="welcome-title"><h1>Welcome to OnVote!</h1></div>
    </div>
    <div class="button-container">
        <button onclick="window.location.href='/vote_list'">Vote Now!</button>

        {% if 'user' not in session %}
            <button onclick="window.location.href='/login'">Login</button>
        {% endif %}
        
        <button onclick="window.location.href='/ballot_list'">View and Create Elections</button>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>