<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    {% include 'menu_bar.html' %}

    <div id="background"></div>
    <div class="register-container">
        <form action="/submit_registration" method="POST">
            <p>User name</p>
            <input name="username" type="text" placeholder="Enter your username">
            <p>Password</p>
            <input name="password" type="password" placeholder="Enter your password">
            <p>Email</p>
            <input name="email" type="email" placeholder="Enter your email">
            <input type="submit" value="Confirm">
        </form>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>